
body{
    background-color: #94C0E7;    
    margin: 0px;
    background-image: url("../ASSET-IMAGES/mini-logos-for-background.png");
    background-size: 30%;
    display: flex;
}






#main_container {
    width: 1024px;
    height: 100%;
    margin: 0px auto;
    border: 1px solid #00ff2f;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* header starts here */

#header {
    width: 100%;
    height: 60px;
    background-color: #5689cf;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#Option-1-About-me {
    width: 150px;
    height: 40px;
    background-color: #659ED5;
    display: flex;
    flex-direction: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
}


#Option-2-My-skills {
    width: 150px;
    height: 40px;
    background-color: #659ED5;
    display: flex;
    flex-direction: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
}


#Option-3-Portfolio {
    width: 150px;
    height: 40px;
    background-color: #659ED5;
    display: flex;
    flex-direction: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
}


#Option-4-Contact-me {
    width: 150px;
    height: 40px;
    background-color: #659ED5;
    display: flex;
    flex-direction: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
}

/* HEADER ENDS HERE */

/* above the scroll starts here */

#above-the-scroll {
    width: 100%;
    height: 640px;
    border: 1px solid #ff0000;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#items-inside-above-the-scroll {
    width: 630px;
    height: 234px;
    margin-left: 30px ;
    margin-right: 360px;
    margin-bottom: 200px;
    border: 1px solid rgb(255, 0, 225);
}


#About-box-1 {
    background-color: #659ED5;
    width: 135px;
    height: 50px;
    margin-left: 115px;
    margin-right: 770px;
    display: flex;
    flex-direction: center;
    align-items: center;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
    align-self: first baseline;
    font-size: 25px;
}


#About-box-2 {
    background-color:#659ED5;
    width: 630px;
    height: 69px;
    margin-right: 360px;
    display: flex;
    flex-direction: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
    font-size: 25px;
}


#About-box-3 {
    background-color: #659ED5;
    width: 400px;
    height: 40px;
    margin-left:  105px;
    margin-right: 495px;
    display: flex;
    flex-direction: center;
    align-items: center;
    align-self: first baseline;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    justify-content: center;
    color: white;
    text-shadow: #254777 3px 3px 3px;
    font-size: 25px;
}


#OPTION-contact {
    background-color:#659ED5;  
    height: 60px;
    width: 250px;
    margin-top: 15px;
    margin-right: 660px;
    margin-left: 110px;  
    border-radius: 10px;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 33px;
}

/* ABOVE THE SCROLL ENDS HERE */

